CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_youku_yk1=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_PACKAGE_ca-bundle=m
CONFIG_PACKAGE_coreutils-nohup=m
CONFIG_PACKAGE_curl=m
CONFIG_PACKAGE_haproxy=m
CONFIG_PACKAGE_ipt2socks=m
CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libcares=m
CONFIG_PACKAGE_libcurl=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua5.3=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libreadline=m
CONFIG_PACKAGE_luci-app-passwall=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_unzip=m
