CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_youku-yk1=y
CONFIG_PACKAGE_ip-tiny=m
CONFIG_PACKAGE_ipset=m
CONFIG_PACKAGE_iptables-mod-tproxy=m
CONFIG_PACKAGE_kmod-ipt-tproxy=m
CONFIG_PACKAGE_libipset=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_libmbedtls=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_luci-app-passwall=m
CONFIG_PACKAGE_microsocks=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_tcping=m
